body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader{
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: darkgray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.container{
  display: flex;
  align-items: flex-start;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
}

h2{
  margin-top: 0;
}

.col{
  padding: 16px;
  justify-content: center;
}

.playground{
  padding: 4px 2px 2px 4px;
  width: 500px;
  height: 500px;
  background-color: gray;
  &__container{

    display: grid;
    grid-gap: 2px;
    width: 100%;
    height: 100%;
  }
}

.cell{
  background-color: white;
  border: none;

  &--highlight{
    background-color: blue;
  }

  &--ok{
    background-color: green !important;
  }

  &--fail{
    background-color: red !important;
  }
}

.gameForm{
  display: flex;
  justify-content: space-between;
  &__select{
    border-radius: 5px;
    background-color: #5c8897;
    font-size: 14px;
    padding: 15px 30px;
    border: none;
  }
  &__input{
    background-color: lightgray;
    font-size: 14px;
    padding: 15px;
    border: none;
  }
  &__submit{
    border-radius: 5px;
    background-color: #396ba3;
    font-size: 20px;
    padding: 15px 45px;
    border: none;
    text-transform: uppercase;
    color: white
  }
}

.leaders{
  width: 100%;
  background-color: #5c8897;

  &>tbody{
    &>tr{
      &>td{
        border: none;
        padding: 5px;
        &:last-child{
          text-align: right;
        }
      }
    }
  }
}